<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div align="center">
		<H1>Image List</H1>

		<div>
			<h3>
				<a th:href="@{/veh/photoNew}"> Create New Name</a>
			</h3>
		</div>

		<table border="1">
			<thead>
				<tr>
					<th>ID</th>

					<th>Image</th>
					<th>actions</th>
				</tr>
			</thead>

			<tbody>
				<th:block th:each="img: ${photos}">
					<tr>
						<td>[[${img.id}]]</td>

						<td><img th:src="@{${img.photosImagePath}}" /></td>
						<td><a th:href="@{'/veh/photoEdit/' + ${img.id}}"> Edit </a> <a
							th:href="@{'/veh/photoDelete/' + ${img.id}}"> Delete </a></td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>