<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<H1> Images Managerment</H1>

	<form th:action="@{/veh/photoSave}" th:object="${vehPhoto}" method="post" 
		enctype="multipart/form-data">

		<Input type="hidden" th:field="*{id}" required />

<!-- 		<div> <label> Name</label> </div>
		<div> <Input type="text" th:field="*{name}" required /> </div> -->

		<div> <label>Image: </label> 
		 <input type="file" name="image" accept="image/png, image/jpeg" /> </div>

		<button type="submit"> Save</button>
	</form>
</body>
</html>