<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CarZoom - config</title>

<!-- ==> common.html -->
<div th:replace="common :: header"></div>
</head>
<body>
	<div th:replace="common :: navbar"></div>

	<div class="parent">
		<h3 style="text-align: center">
			<span>Config page </span>
		</h3>
		<hr>
		
		
		<h3>Customer State</h3>
		<nav class="nav nav-tabs">
			<a class="nav-link" href="/cust/newCustState">Create New Customer State</a>
		</nav>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
			</thead>
			<tbody>
				<tr th:each="custState : ${listCustStates}">
					<td th:text="${custState.custStateId}" />
					<td th:text="${custState.name}" />
				</tr>

			</tbody>
		</table>
		
		<hr>
		<h3>Vehicles Status</h3>
		<nav class="nav nav-tabs">
			<a class="nav-link" href="/veh/newVehSta">Create New Vehicles Status</a>
		</nav>

		<table class="table table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Active</th>
			</thead>
			<tbody>
				<tr th:each="vS : ${listVehicleStates}">
					<td th:text="${vS.vehSttsId}" />
					<td th:text="${vS.name}" />
					<td th:text="${vS.isActive}" />
				</tr>
			</tbody>
		</table>
		<hr>
		
		<h3>Hire Rate</h3>
		<nav class="nav nav-tabs">
			<a class="nav-link" href="/main/newDailyRate">Create New Daily Rate</a>
		</nav>
		<table class="table table-striped">
			<thead>
				<th>ID</th>
				<th>Vehicle Status</th>
				<th>Customer State</th>
				<th>Daily Rate</th>
				<th>Actions</th>
			</thead>
			<tbody>
				<tr th:each="dR : ${listDailyRate}">
					<td>[[${dR.id}]]</td>
					<td>[[${dR.vehClassId}]]
					<td>[[${dR.custCatId}]]
					<td>[[${dR.dayrate}]]
					<td>
						<a class="btn btn-info" th:href="@{'/main/rate/' + ${dR.id}}">
						<span>Edit</span></a>
						<a class="btn btn-warning" th:href="@{/main/delete/{id}(id=${dR.id})}"
						onclick="return confirm('Are you sure you want to delete this item?');">
						<span>Delete</span></a>
					</td>
				</tr>
			</tbody>
		</table>
		<hr>
		
	</div>

	<div th:replace="common :: footer"></div>
</body>
</html>