<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>CarRent -  about </title>
	<meta charset="UTF-8">
          
	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
	
  </head>

  <body>
  	<div th:replace="common :: navbar"></div>
  	
  	<div class="parent">
		<h3 style="text-align:center">
			<span> This page is under construction. </span>
		</h3>
		<hr>
	<div class="mx-auto" style="width: 560px;">

	<h3>ToDoList: ....</h3>
	<nav class="nav nav-tabs justify-content-end">
		<a class="nav-link" href="/">Test page</a>
	</nav>
	<ul>

		<li>Mobile App</li>
		<ol>
			<li><s>Display Layout</s></li>
		</ol>

		<li><s>Issue: white pages error for different url of localhost.</s></li>
		
		<li>Error Page</li>
		<ol>
			<li>shown error for reject entry on unique value</li>
			<li>Show constraint error/ alert</li>
			<li>Delete Error if vehicle constraint by hired</li>
		</ol>
		
		<li>Confirmation Alert</li>
		<ol>
			<li><s>Emp delete</s></li>
			<li><s>Customer delete</s></li>
			<li><s>Vehicle delete</s></li>
			<li>Book new entry</li>
			<li><s>Hire delete</s></li>
		</ol>
		
		<li>Invoice</li>
		<ol>
			<li></li>
			<li>PDF</li>
		</ol>
		
		<li>Booking</li>
		<ol>
			<li>issue on book endDate before startDate</li>
			<li>issue on period dates overlay outside booked dates</li> 
<!-- 			<li>Current hires status: start to end, case closed</li>
			<li>Current hires status: start to end, case open</li> -->
			<li>error when book where car is not active</li>
			<li>booking page, bookDate.html unable to assess to drop down menu</li>
		</ol>
		
		<li>Login</li>
		<ol>
			<li>Unable to trace on unsuccessful login</li>
			<li><s>reformat the page, with bigger fonts, and wall paper</s></li>
			<!-- <li>for newly setup, Default user and password</li> -->
		</ol>
		
		<li>Configuration</li>
		<ol>
			<li>to assess log.text from Heroku</li>
			<li><s>Add config for VehicleState, custCat</s></li>
		</ol>
		
		<li>Hire</li>
		<ol>
			<li><s>RateTable</s></li>
			<li>Matrix table for vehicle available wrf customer</li>
			<li><s>History Table</s></li>
			<li>BookingControl - Issues on dates overlapp. </li>
			<li>BookingControl - issues on opposite dates</li>
		</ol>
		
		<li>Vehicle</li>
		<ol>
			<li>VehicleImage Table</li>
			<li>Vehicle Return</li>
			<li>Error on delete id=27, probalbly dur to constraint</li>
			<li>dailyRate should be remove</li>
		</ol>
		
		<li>common html</li>
		<ol>
			<li>images after profile issues</li>
			<li><s>probably just remove the footnote</s></li>
		</ol>
		
		<li>Employee</li>
		<ol>
			<li>Should not be delete for ID=1</li>
			<li>Pagination for user Name</li>
			<li>testing - kiv</li>
			<li><s>Issue: Need to double confirm for delete</s> done</li>
			<li><s>Add in Role type</s> done</li>
			<li><s>move Create New Employee to right</s> done</li>
			<li><s>move Delete to editEmp.html</s> done</li>
			<li><s>shrink employee, add detail</s> done</li>
			<li><s>logging</s> done</li>
		</ol>

		<li>Edit/New Employee</li>
		<ol>
			<li><s>Add in roles drop, may not</s></li>
			<li><s>Date: 2021-07-31 SET fixed width</s> Done</li>
			<li><s>Hidden ID??</s></li>
			<li><s>Cancel button</s> done</li>
			<li><s>white page on Similar email, or similar userName</s></li>
		</ol>
		
		<li>profile Employee</li>
		<ol>
			<li><s>Roles and IsActive not ready only</s> done</li>
		</ol>
		
		<li>others</li>
		<ol>
			<li></li>
		</ol>
	</ul>
	
	</div>
	</div>

	<div th:replace="common :: footer"></div>

  </body>

</html>