<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CarZoom - Booking</title>
	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
	
</head>
<body>
	<div th:replace="common :: navbar"></div>
	
	<div class="parent">
	<h2>Booking of Vehicle</h2>
	<h4>Customer first</h4>
 	
	<nav class="nav nav-tabs justify-content-end">
		<a class="nav-link" href="/cust">Customer List</a>
	</nav>
	
	<p></p>
	<form action="#" th:action="@{bookVeh}" th:object="${booking}" method="POST">
	<!-- <form action="#" th:action="@{'bookVeh/' + ${booking.test}}" th:object="${booking}" method="POST"> -->

	<div class="form-row">
 		<div class="form-group col-md-6">
			<label><b>Select Customer</b></label>
			<select th:field="*{customer}" class="form-control" required>
				<th:block th:each="cust : ${customers}">
					<option th:text="'[' + ${cust.custId} + '] ' + ${cust.custName}" 
					th:value="${cust.custId}"/>
				</th:block>
			</select>
		</div>
	
	</div>
 		<button class="btn btn-primary"  type="submit">Next</button>
 		<a class="btn btn-primary" href="/" role="button">Cancel</a>

	</form>
	</div>
	
 	<div th:replace="common :: footer"></div> 
</body>
</html>