<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CarZoom - Booking Confirmation</title>
	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
</head>
<body>
	<div th:replace="common :: navbar"></div>
	
	<div class="parent">
	<h2>Booking Confirmation</h2>

	<nav class="nav nav-tabs justify-content-end">
		<a class="nav-link" href="/booking">back to Booking Page</a>
	</nav>
	
	<p></p>
	<form action="#" th:action="@{/book/cnfm}" th:object="${hire}" method="POST">

	<div class="form-row">

	</div>
 		<button class="btn btn-primary"  type="submit">Save</button>
 		<a class="btn btn-primary" href="/" role="button">Cancel</a>
 		<hr>
		<div class="form-group col-md-6">
		</div>
	</form>
	
	
	
	</div>
 	<div th:replace="common :: footer"></div> 
</body>
</html>