<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CarZoom - new DailyRate</title>
	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
</head>
<body>
	<div th:replace="common :: navbar"></div>


	<div class="parent">
	<h2>Create New DailyRate</h2>
	
	
	<nav class="nav nav-tabs justify-content-end">
		<a class="nav-link" href="/config">Back to Config page</a>
	</nav>

	<form action="#" th:action="@{saveDailyRate}" th:object="${dailyRate}" method="POST">
		<div class="form-row">
			<div class="form-group col-md-6">
				<label>ID: </label>
			</div>
			<div class="form-group col-md-6">
				<label>Vehicle Class</label>
				<select th:field="*{vehClassId}" class="form-control" >
					<th:block th:each="vS : ${listVehicleStates}">
						<option th:text="${vS.name}" th:value="${vS.vehSttsId}"/>
					</th:block>
				</select>
				<small class="form-text text-muted">Must be unique</small>
			</div>
			<div class="form-group col-md-6">
				<label>Customer Category</label>
				<select th:field="*{custCatId}" class="form-control">
					<th:block th:each="custS : ${listCustStates}">
						<option th:text="${custS.name}" th:value="${custS.custStateId}" />
					</th:block>
				</select>
				<small class="form-text text-muted">Optional, Reference purposes</small>
			</div>
			<div class="form-group col-md-6">
				<label>Daily Rate</label>
				<input class="form-control" type="text" th:field="*{dayrate}"/>
			</div>
		</div>
		
	 	<button class="btn btn-primary"  type="submit">Save</button>
 		<a class="btn btn-primary" href="/config" role="button">Cancel</a>
	</form>
	
	</div>
	<div th:replace="common :: footer"></div>	
</body>
</html>