<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Hire Edit</title>
	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Car Rental - Edit Hire</title>
	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
</head>
<body>
	<div th:replace="common :: navbar"></div>
	
	<div class="parent">
	<h2>CarRent - Edit Hire</h2>
	
	<nav class="nav nav-tabs justify-content-end">
		<a class="nav-link" href="/hire">Back to Hire page</a>
	</nav>
	
	<form action="#" th:action="@{/hire/save}" th:object="${hire}" method="POST">
	<div class="form-row form-group col-md-6">
			<label>Hire ID: </label>
			<input type="text" th:field="*{hireId}" readonly="readonly"/>
	</div>
	
	<div class="form-row">
	
 		<div class="form-group col-md-6">
			<label>Customer</label>
			<select th:field="*{customer}" class="form-control" required>
				<th:block th:each="cust : ${customers}">
					<option th:text="'[' + ${cust.custId} + '] ' + ${cust.custName}" 
					th:value="${cust.custId}" required/>
				</th:block>
			</select>
		</div>

 		<div class="form-group col-md-6">
			<label>Vehicle</label>
			<select th:field="*{vehicle}" class="form-control" required>
				<th:block th:each="veh : ${vehicles}">
					<option th:text="${veh.vehBrand} + ' ' + ${veh.vehModel} + ' ' + ${veh.vehLicPlate}"  
					th:value="${veh.vehId}" required/>
					
				</th:block>
			</select>
		</div>
	
		<div class="form-group col-md-6">
				<label>Date Start: 
				<input class="form-control" type="date" th:field="*{dateStart}" required/>
				</label>
		</div>

		<div class="form-group col-md-6">
				<label>Date End: 
				<input class="form-control" type="date" th:field="*{dateEnd}" required/>
				</label>
		</div>
		
		<div class="form-group col-md-6">
			<label>Invoice? </label>
			<input type="checkbox" th:field="*{casedone}" disabled/>
			<a class="btn btn-info" th:href="@{'/invHire/' + ${hire.hireId}}" >Invoice</a>
			>>> under contruction on tenary operator!!
		</div>
		
	</div>
	 	<button class="btn btn-primary"  type="submit">Save</button> 
 		<a class="btn btn-primary" href="/hire">Cancel</a>
	</form>
	
	
	</div>
	<div th:replace="common :: footer"></div>
</body>
</html>