<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CarRent - Hires</title>
	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
	
</head>
<body>	
<div th:replace="common :: navbar"></div>
	
<div class="parent">
	<h2>Hire List</h2>
	
	<nav class="nav nav-tabs justify-content-end">
		<a class="nav-link" href="/">Back</a>
	</nav>
	
	<div class = "container mb-3 mt-3"> 
		<table class="table table-striped mydatatable" id="table">
			<thead>
				<tr>
					<th>ID</th>
					<th>(ID)Car No</th>
					<th>Customer</th>
					<th>Date Start</th>
					<th>Date End</th>
					<th>Invoice</th>
					<th>Action</th>
			</thead>
			<tbody>
				<tr th:each="hire : ${listHires}">
					<td th:text="${hire.hireId}" />
					<td> ([[ ${hire.vehicle.vehId} ]] ) [[ ${hire.vehicle.vehLicPlate} ]] </td>
					<td> [[ ${hire.customer.custName} ]] </td>
					<td th:text="${hire.dateStart}" />
					<td th:text="${hire.dateEnd}" />
					<td><a th:href="@{'/inv/invoice/' + 
						${ hire.casedone == true ? hire.invoice.invId : hire.hireId } }"> <!-- hire.hireId  is dummy -->
						[[${ hire.casedone == true ?  hire.invoice.invNo : "" } ]]</a>
						
						<a th:classappend="${hire.casedone != true ? 'btn btn-info btn-sm fa fa-edit' : hidden}"
					 	th:href="@{'/hireEdit/' + ${hire.hireId}}"> </a>
					</td>
					<td>
						<a class="btn btn-warning btn-sm delBtn" th:href="@{/hire/delete/{hireId}(hireId=${hire.hireId})}">
							<span class="fa fa-trash"></span></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

	<div th:replace="common :: footer"></div>
	<!-- https://cdn.datatables.net/ --> <script>
		$('.mydatatable').DataTable();
	</script>

	<div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" 
			tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="deleteModalLabel">Delete Record</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<p class="alert alert-danger">
			Do you want to delete <div id="main"> </div>
			</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Keep</button>
	        <a class="btn btn-danger" href="" id="delRef">proceed </a>
	      </div>
	    </div>
	  </div>
	</div>
	
</body>
</html>