<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CarZoom - Image Edit Desc</title>

	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
	
</head>
<body>
	<div th:replace="common :: navbar"></div>
	
	<div class="parent">
	<H2> Images Management - Edit Description</H2>

	<nav class="nav nav-tabs justify-content-end">
		<a class="nav-link" href="/img/photos">Back to Image page</a>
	</nav>

	<form th:action="@{/img/photoDescSave}" th:object="${vehPhoto}" method="post" 
		enctype="multipart/form-data">
		<div class = "container mb-3 mt-3">

			<Input type="hidden" th:field="*{photoId}"/> <h3>[[ ${vehPhoto.photo}]]</h3>
			<input type="text" name="image" th:value="${vehPhoto.photo}" hidden/>
			<!-- <input type="text" th:value="*{photo}" /> -->
	
				<th:block th:unless="${vehPhoto.photoId == null}" th:each="detail, status : ${vehPhoto.details}">
					<div class="form-group row">
					<input type="hidden" name="detailID" th:value="${detail.id}" />
	
					<label>Details #[[status.count]] : </label>
					<input type="text" name="detailName"  th:value="${detail.name}" />
					<input type="text" name="detailValue" th:value="${detail.value}" />
					</div>
	
				</th:block>
			
			<button type="submit"> Save</button>
		</div>
	</form>
	</div>

	<div th:replace="common :: footer"></div>		
</body>
</html>