<!-- ref: 210127-SpringAUth/new_product.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Car Rent - create new emp</title>
	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
</head>
<body>
	<div th:replace="common :: navbar"></div>
	
	
	<div class="parent">
	<h2>Create New Employees</h2>
	
	<nav class="nav nav-tabs justify-content-end">
		<a class="nav-link" href="/emp">Back to Employee page</a>
		<a class="nav-link" href="/emp/roleNew">Create New Role</a>
	</nav>
	<form action="#" th:action="@{/emp/save}" th:object="${employee}" method="POST">
	<div class="form-row form-group col-md-6">
			<label>Employee ID: </label>
	</div>
	
	<div class="form-row">
		<div class="form-group col-md-6">
			<label>User Name: </label>
			<input class="form-control" type="text" th:field="*{empName}" required/>
		 	<small class="form-text text-muted">size must be between 4 and 8</small>
		</div>
		
		<div class="form-group col-md-6">
			<label>Roles</label>
			<div class="form-check form-check-inline" th:block th:each="role : ${roles}">
				<input type="checkbox" th:field="*{roles}" th:text="${role.name}"
					th:value="${role.roleId}" />
			</div>
		</div>
		
		<div class="form-group col-md-6">
			<label>User Password: </label> 
			<input class="form-control" type="password" th:field="*{password}" required />
		</div>
		
		<div class="form-group col-md-6">
			<label>Full Name: </label> 
			<input class="form-control" type="text" th:field="*{empFullName}" required/>
			<small class="form-text text-muted">size must be between 4 and 45</small>
		</div>
		
		<div class="form-group col-md-6">
			<label>Phone No: </label>
			<input class="form-control" type="text" th:field="*{phoneNo}" required/>
			<small class="form-text text-muted">size must be between 8 and 15</small>
		</div>
		
		<div class="form-group col-md-6">
			<label>Email: </label>
			<input class="form-control" type="email" th:field="*{email}" required/>
			<small class="form-text text-muted">Must be unique Email, size between 8 and 30</small>
		</div>
		
		<div class="form-group col-md-6">
			<label>Job Title: </label>
			<input class="form-control" type="text" th:field="*{jobTitle}" required/>
			<small class="form-text text-muted">size must be between 5 and 30</small>
		</div>
		
		<div class="form-group col-md-6">
			<label>is Active ?: </label>
			<input type="checkbox" th:field="*{isActive}" />
		</div>
		
		<div class="form-group col-md-6">
			<label>User Expiry: </label>
			<input class="form-control" type="date" th:field="*{userExpiry}" required/>
		</div>
		<div class="form-group col-md-6">
			<label>Password Expiry: </label>
			<input class="form-control" type="date" th:field="*{pswdExpiry}" required/>
		</div>
 	</div>
 
 	<button class="btn btn-primary"  type="submit">Save</button>
 	<a class="btn btn-primary" href="/emp" role="button">Cancel</a>
 	</form>
	</div>
	

	<div th:replace="common :: footer"></div>
</body>
</html>