<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CarZoom - Invoice Edit</title>
	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
</head>
<body>
	<div th:replace="common :: navbar"></div>
	
	<div class="parent">
	<h2>CarZoom - Edit Invoice</h2>
	
	<nav class="nav nav-tabs justify-content-end">
		<a class="nav-link" href="/hire">Back to Hire page</a>
	</nav>
	
<form action="#" th:action="@{/inv/saveEdit}" th:object="${inv}" method="POST">
<div class = "container mb-3 mt-3">
	<div class="form-row">
		<div class="form-row form-group col-md-4">
			<label hidden>Invoice/ invPaymnt ID: </label>
			<input type="text" th:field="*{invId}" readonly="readonly" hidden>
			<input type="text" th:field="*{invPaymt.invPaymtId}" readonly="readonly" hidden>
		</div>	
	</div>
	
	<div class="form-row">
		<div class="form-group col-md-4">
			<label>Customer ID: [[${inv.custId}]]</label>
			<input type="text" hidden th:field="*{custId}" readonly="readonly"/>
		</div>
	</div>	
	<div class="form-row">	
		<div class="form-group col-md-4">
			<label>Dated: </label>
			<input type="date" class="form-control" th:field="*{dated}" required/>
		</div>
		<div class="form-group col-md-4">
			<label>Invoice No: </label> 
			<input type="text" class="form-control" th:field="*{invNo}" required/>
		</div>
	</div>
	
	<div class="form-row">	
		<h3 class="form-group col-md-12">Reservation Summary</h3>
		<div class="form-group col-md-12">
			<label>Start and End Time: </label>
			 <input type="text" class="form-control" maxlength="65" size="65" th:field="*{desc1}" required/>
		</div>		
		<div class="form-group col-md-12">
			<input type="text" class="form-control" maxlength="65" size="65" th:field="*{desc2}" required/>
		</div>		
		<div class="form-group col-md-12">
			<input type="text" class="form-control" th:field="*{desc3}" maxlength="65" size="65"/>
			<small class="form-text text-muted">size must be less than 65 chars per row</small>
		</div>	
	</div>
	
	<div class="form-row">
		<h3 class="form-group col-md-12">Invoice Details</h3>
	
		<div class="form-group col-md-12">
			<h5>Reservation Charges No.: [[${inv.hireId}]]</h5>
			<input type="text" hidden  th:field="*{hireId}" readonly="readonly"/>
		</div>
	
		<div class="form-group col-md-4">
			<label>Daily Rate: </label>
			<input type="text" class="form-control"  th:field="*{rated}" required/>
		</div>
		<div class="form-group col-md-4">
			<label>Amount Due: </label>
			<!-- <input type="text" class="form-control"  th:field="*{invPaymt.amount}" required/> -->
			<input type="text" class="form-control" name="invPaymtAmount" th:value="${inv.invPaymt.amount}" required/>
		</div>
	</div>
	
	<div class="form-row">		
		<h3 class="form-group col-md-12">Payment</h3>
		<div class="form-group col-md-4">
			<label>Payment Date: [[${inv.invPaymt.paidDate}]]</label>
			<!-- <input type="date" class="form-control" th:field="*{invPaymt.paidDate}" required/> -->
			<input type="date" class="form-control" name="invPaymtPaidDate" th:value="${inv.invPaymt.paidDate}" required/>
		</div>
		<div class="form-group col-md-6">
			<label>Payment Done ? [[${inv.paymtDone}]]</label>
			<input type="checkbox" th:field="*{paymtDone}" readonly="readonly" hidden/>
		</div>
	</div>
	
 	 <button class="btn btn-info"  type="submit">Save</button>
 	 <a class="btn btn-info"  href="/hire">Cancel</a>
</div>
</form>

	</div>
	<div th:replace="common :: footer"></div>
</body>
</html>