<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CarZoom - Invoice</title>
	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
</head>
<body>
	<div th:replace="common :: navbar"></div>
	
<div class="parent">
	<h2 style="text-align: center;">INVOICE</h2>
	<nav class="nav nav-tabs justify-content-end">
		<a class="nav-link" href="/hire">Back to Hire List</a>
	</nav>
		
<form th:object="${inv}">
<div class = "container mb-3 mt-3"> 
	<div class="form-row">
		<div class="form-group col-md-6">
			<label hidden>Invoice ID: [[${inv.invId}]]</label>
		</div>
	</div>
	
	<div class="form-row">
		<div class="form-group col-md-8">
			<label><b>Date:</b> [[${inv.dated}]]</label>
		</div>
		<div class="form-group col-md-4">
			<label ><b>Invoice No.:</b> [[${inv.invNo}]]</label>
		</div>

		<div class="form-group col-md-12">
			<label><b>Customer's ID:</b> [[${inv.custId}]]</label>
		</div>
	</div>
		<br><br>
	<div class="form-row">		
		<h3 class="form-group col-md-12">Reservation Summary</h3>
		<div class="form-group col-md-12">
			<label>Start and End Time: [[${inv.desc1}]]</label><br>
			<label>Car: [[${inv.desc2}]]</label><br>
			<label>[[${inv.desc3}]]</label>
		</div>
	</div>
	
	<div class="form-row">
		<h3 class="form-group col-md-12">Invoice Details</h3>
		<h5 class="form-group col-md-12">Reservation Charges No.: [[${inv.hireId}]]</h5>
		<div class="form-group col-md-8">
			<label>Total Time Charge at Daily Rate: $[[${inv.rated}]]</label>
		</div>
		<div class="form-group col-md-4">
			<label>Sub Total: $[[${inv.invPaymt.amount}]]</label>
		</div>								
	</div>
	<div class="form-row">
		<div class="form-group col-md-8"></div>
		<div class="form-group col-md-4">
			<label><b>Total Due: $[[${inv.invPaymt.amount}]]</b></label>
		</div>
	</div>
	
	<style>
		.paymentHidden {
			visibility: hidden;
		}
	</style>
	<div class="form-row">		
		<h3 class="form-group col-md-12">Payment</h3>
		<div class="form-group col-md-12">
			<label>Payment Date: [[${inv.invPaymt.paidDate}]] </label>
			<a th:classappend="${inv.paymtDone == true ? 'paymentHidden' : 'btn btn-light'}"
			 th:href="@{'/inv/invPaid/' + ${inv.invId}}">Pay now & close case?</a>
		</div>
	</div>
		
	<hr>
	<a href="/hire"><b>Back</b> to Hire List</a> 		&nbsp;&nbsp;&nbsp;
	<a th:href="@{'/inv/invEdit/' + ${inv.invId}}"><b>Edit</b> Invoice</a>
 		&nbsp;&nbsp;&nbsp;
    <a th:href="@{'/inv/export/pdf/' + ${inv.invId}}">Export to PDF</a> &nbsp;&nbsp;&nbsp;
    <!-- <a th:href="@{/inv/export}">Export to CSV</a> -->
</div>
</form>
</div>

	<div th:replace="common :: footer-note"></div>	
	<div th:replace="common :: footer"></div>
</body>
</html>