<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Welcome to Team 1 project </title>
	<meta charset="UTF-8">
          
	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
	
  </head>

  <body>
  	<div th:replace="common :: navbar"></div>


	<h3 style="text-align:center">
	
	<span>  Welcome to Team 1 Project </span>
	<br>
<!-- 	
   <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
  -->
		<div sec:authorize="isAuthenticated()">
			<b><span sec:authentication="name">Username</span></b> &nbsp;
			<i><span sec:authentication="principal.authorities">Roles</span></i>
		</div> 
   
   </h3>
	<hr>
	
	<h2>Testing: ....</h2>
	<ul>
		<li>Show: <a sec:authorize="hasAuthority('ADMIN')">1 ADMIN</a>, <a
			sec:authorize="hasAuthority('MANAGER')">2 MANAGER</a>, <a
			sec:authorize="hasAnyAuthority('USER', 'MANAGER')">3 USER</a>.

		</li>
		<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
		<li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a>
		</li>
	</ul>


	<div th:replace="common :: footer"></div>
  </body>

</html>