<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>CarRent - about</title>
<meta charset="UTF-8">

<!-- ==> common.html -->
<div th:replace="common :: header"></div>

</head>

<body>
	<div th:replace="common :: navbar"></div>

	<div class="parent">
		<h3 style="text-align: center">
			<span> This page is under construction. </span>
		</h3>
		<hr>
		<div class="mx-auto" style="width: 560px;">

			<h3>....</h3>

			<ul>

				<li>
					<!-- link to EmpValid--> <a th:href="@{/test}"> <!-- <h4>Test</h4> -->
				</a>
				</li>

			</ul>

		</div>
	</div>

	<div th:replace="common :: footer"></div>
</body>

</html>