<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Bank App</title>

	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
	
</head>
<body>
	
	<div th:replace="common :: navbar"></div>
	
	<h1>Hire List</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Hire ID</th>
				<th>Dts Start</th>
				<th>Dts End</th>
				<th>Deposit</th>
				<th>Hire Fee</th>
				<th>DtsEndActual</th>
		</thead>
		<tbody>
			<tr th:each="hire : ${listHires}">
				<td th:text="${hire.hireId}" />
				<td th:text="${hire.DtsStart}" />
				<td th:text="${hire.DtsEnd}" />
				<td th:text="${hire.deposit}" />
				<td th:text="${hire.HireFee}"/>
				<td th:text="${hire.DtsEndActual}"/>
			</tr>
		</tbody>
	</table>
	
	<div th:replace="common :: footer"></div>
	
</body>
</html>