<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CarZoom - booking</title>
<script type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"></script>
<!-- ==> common.html -->
<div th:replace="common :: header"></div>

</head>
<body>

	<div th:replace="common :: navbar"></div>

	<div class="parent">
		<h3 style="text-align: center">

			<span>Vehicle Leasing app</span>

		</h3>
		<hr>
		<!-- <div class="mx-auto" style="width: 560px;"> -->
	<div class = "container mb-3 mt-3">
		<span><a href="/hire"><h2>Hires list</h2></a></span>

		<hr>
		<!-- <span><a href="/"><h2 style="text-align: center">Vehicle Returned</h2></a></span> -->
		<hr>

		<span>DashBoard</span>
		
		<div class="form-row">
			<div class="form-group col-md-6">
			
				<label>Vehicles hires: no. of hires per vehicle:</label>
			
			<div id="piechartVeh" style="width: 450px; height: 250px;"></div>
			</div>
	
			<div class="form-group col-md-6">
			
				<label>Customer hires: no. of hires per customer:</label>

			<div id="piechartCus" style="width: 450px; height: 250px;"></div>
			</div>

		</div>
			
		<div class="form-row">
			<label class="form-group col-md-6">Status: Total Income</label>

		<span class="nav-item dropdown form-group col-md-3" style="text-align: right">
			<a class="nav-link active dropdown-toggle" href="/" data-toggle="dropdown">
				Chart Period</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" href="/chart/6">6M</a></li>
				<li><a class="dropdown-item" href="/chart/12">1Y</a></li>
				<li><a class="dropdown-item" href="/chart/24">2Y</a></li>
			</ul>
		</span>	
		</div>		
					
		<div id="chart_div"></div>
		
		<hr>
		<span>Recent Activities</span>
	</div>
	
	</div>
	<hr>
	<div th:replace="common :: footer-note"></div>	
	<div th:replace="common :: footer"></div>

	<script th:inline="javascript">
	        var real_dataVeh = /*[[${chartDataVeh}]]*/'noValue';
	        var real_dataCus = /*[[${chartDataCus}]]*/'noValue';
	        var real_dataBar = /*[[${chartDataBar}]]*/'noValue';
	</script>
	<script th:src="@{/assets/chart.js}"></script>

</body>
</html>