<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CarZoom - booking</title>

<!-- ==> common.html -->
<div th:replace="common :: header"></div>

</head>
<body>

	<div th:replace="common :: navbar"></div>

	<div class="parent">
		<h3 style="text-align: center">

			<span>CarZoom Vehicle Leasing app</span>

		</h3>
		<hr>
		<!-- <div class="mx-auto" style="width: 560px;"> -->

		<span><a href="/hire"><h2 style="text-align: center">Hires list</h2></a></span>
		<hr>
		<span><a href="/booking"><h2 style="text-align: center">New Lease</h2></a></span>
		<hr>
		<!-- <span><a href="/"><h2 style="text-align: center">Vehicle Returned</h2></a></span> -->
		<hr>
		<!-- </div> -->

	</div>

	<div th:replace="common :: footer"></div>

</body>
</html>