<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<!-- ==> common.html -->
	<div th:replace="common :: header"></div>
</head>
<body>
	<div th:replace="common :: navbar"></div>
	
	
	<div class="parent">
	<h2>Create Vehicle</h2>

	<nav class="nav nav-tabs justify-content-end">
		<a class="nav-link" href="/veh">Back to Vehicle page</a>
	</nav>
	
	<h1>Hire List</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Hire ID</th>
				<th>Dts Start</th>
				<th>Dts End</th>
				<th>Deposit</th>
				<th>Hire Fee</th>
				<th>DtsEndActual</th>
		</thead>
		<tbody>
			<tr th:each="hire : ${listHires}">
				<td th:text="${hire.hireId}" />
				<td th:text="${hire.DtsStart}" />
				<td th:text="${hire.DtsEnd}" />
				<td th:text="${hire.deposit}" />
				<td th:text="${hire.HireFee}"/>
				<td th:text="${hire.DtsEndActual}"/>
			</tr>
		</tbody>
	</table>


	<form action="#" th:action="@{/veh/save}" th:object="${vehicle}" method="POST">
	<div class="form-row form-group col-md-6">
			<label>Vehicke ID: </label>
	</div>
 		<div class="form-group col-md-6">
			<label>Current Hired</label>
			<div class="form-check form-check-inline" th:block th:each="hire : ${listHires}">
				<input type="checkbox" 
				th:text="${hire.DtsEnd}"
				th:value="${hire.hireId}" />
			</div><!-- th:field="*{listHires}"  -->
		</div>
<!-- 		<div class="form-group col-md-6">
			<label>Current Hired</label>
			<div>
 			<select th:field="*{listHires}" class="form-control">
				<th:block th:each="hire : ${listHires}">
					<option th:text="${hire.hireId}" th:value="${hire.hireId}"/>
				</th:block>
			</select>
			</div>
		</div> -->

 	<button class="btn btn-primary"  type="submit">Save</button>
 	<a class="btn btn-primary" href="/veh" role="button">Cancel</a>
 	</form>
	</div>
	

	<div th:replace="common :: footer"></div>	
</body>
</html>